.todo {
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem ;

    .name {
        flex-grow: 1;
        p {
            font-family: Poppins-Regular;
            margin: 0;
        }
    }
    .icon {
        cursor: pointer;
        margin: 0 .5rem;
    }
}