@import url(bootstrap);

@font-face {
  font-family: Poppins-Regular;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

p {
  margin: 0;
}